Repository NixOS/org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NixOS/org, @NixOS/nixpkgs-core, @NixOS/steering, @mweinelt, @picnoir, @lassulus, @jtojnar, @ctheune, @dpausp, @NixOS/infra, @infinisil, @Mic92, @zimbatm, @NickCao, @winterqt, @edolstra, @tomberek, @fricklerhandwerk

.github/CODEOWNERS:

# See doc/org-repo.md

/README.md @NixOS/org
/CONTRIBUTING.md @NixOS/org
/LICENSE @NixOS/org

/.gitignore @NixOS/org
/.github/CODEOWNERS @NixOS/org
/.github/workflows @NixOS/org
/scripts @NixOS/org
/npins @NixOS/org
/default.nix @NixOS/org
/shell.nix @NixOS/org
/rulesets @NixOS/org
/rulesets/nixpkgs @NixOS/nixpkgs-core

/doc/org-repo.md @NixOS/steering
/doc/discourse.md @NixOS/steering @mweinelt @picnoir @lassulus @jtojnar @ctheune @dpausp
/doc/github.md @NixOS/org
/doc/github-org-owners.md @NixOS/steering
/doc/matrix.md @NixOS/steering
/doc/moderation.md @NixOS/steering
/doc/nixos-releases.md @NixOS/nixpkgs-core
/doc/resources.md @NixOS/steering
/doc/mail.md @NixOS/infra
/doc/freescout.md @infinisil
/doc/governance.md @NixOS/steering
/doc/values.md @NixOS/steering
/doc/vault.md @Mic92 @mweinelt @zimbatm
/doc/constitution.md @NixOS/steering
/doc/nixpkgs-core.md @NixOS/nixpkgs-core
/doc/nixpkgs-committers.md @NickCao @jtojnar @winterqt @NixOS/nixpkgs-core
/doc/calendar.md @edolstra @tomberek @fricklerhandwerk
/doc/nixcon.md @NixOS/steering
/doc/hetzner.md @NixOS/infra

rulesets: skip exporting org-wide defaults
  rulesets/export.bash
Owners: @NixOS/org

rulesets/nixpkgs: enable merge queue on secondary development branches
  rulesets/nixpkgs/require-merge-queue-except-periodic-merges.json
Owners: @NixOS/nixpkgs-core

rulesets/nixpkgs: Allow pr/ prefix branches
  rulesets/nixpkgs/no-creation-except-nixpkgs-ci.json
  rulesets/nixpkgs/no-creation.json
Owners: @NixOS/nixpkgs-core

rulesets/export: remove timestamp
  rulesets/export.bash
  rulesets/nixpkgs/no-creation-except-channel-updaters.json
  rulesets/nixpkgs/no-creation-except-nixpkgs-ci.json
  rulesets/nixpkgs/no-creation-except-release-team.json
  rulesets/nixpkgs/no-creation.json
  rulesets/nixpkgs/no-delete.json
  rulesets/nixpkgs/no-force-push.json
  rulesets/nixpkgs/no-updates-except-channel-updaters.json
  rulesets/nixpkgs/require-merge-queue-except-periodic-merges.json
  rulesets/nixpkgs/require-merge-queue.json
  rulesets/nixpkgs/require-pull-request-except-release-team.json
  rulesets/nixpkgs/required-status-checks.json
Owners: @NixOS/org, @NixOS/nixpkgs-core

Stepping down from the core team
  doc/nixpkgs-core.md
Owners: @NixOS/nixpkgs-core

Switch to PR-based nixpkgs committer nomination process
  doc/nixpkgs-committers.md
Owners: @NickCao, @jtojnar, @winterqt, @NixOS/nixpkgs-core

Document nixpkgs committers github team
  doc/nixpkgs-committers.md
Owners: @NickCao, @jtojnar, @winterqt, @NixOS/nixpkgs-core

governance: add 2025 election link
  doc/governance.md
Owners: @NixOS/steering

github-org-owners: perform copy editing
  doc/github-org-owners.md
Owners: @NixOS/steering

github-org-owners: link the organization
  doc/github-org-owners.md
Owners: @NixOS/steering

github-org-owners: adjust wording on how administering repositories could happen
  doc/github-org-owners.md
Owners: @NixOS/steering

nixcon: 2025 happened, 2026 has no team to accomplish it yet
  doc/nixcon.md
Owners: @NixOS/steering

Unify SC terms
  doc/constitution.md
Owners: @NixOS/steering

retire value stable evolution
  doc/values.md
Owners: @NixOS/steering

rulesets/nixpkgs: enable merge queue for staging-nixos
  rulesets/nixpkgs/require-merge-queue-except-periodic-merges.json
Owners: @NixOS/nixpkgs-core

Change amendments to the values to require an SC supermajority
  doc/constitution.md
Owners: @NixOS/steering

Make the NCV amendment requirement self-referential
  doc/constitution.md
Owners: @NixOS/steering

Reformat text to have at most one sentence per line
  CONTRIBUTING.md
  doc/constitution.md
  doc/freescout.md
  doc/governance.md
  doc/nixcon.md
  doc/values.md
Owners: @NixOS/org, @NixOS/steering, @infinisil

Add Email Commands module to Freescout
  doc/freescout.md
Owners: @infinisil

xrefcheck: Only check local links
  .github/workflows/ci.yml
Owners: @NixOS/org

constitution: count vacant seats when voting full reelection
  doc/constitution.md
Owners: @NixOS/steering

constitution: add cross reference to full-reelections section
  doc/constitution.md
Owners: @NixOS/steering

have vacant seats slightly prefer full reelection on no-confidence
  doc/constitution.md
Owners: @NixOS/steering

clarify the SC votes on confidence over non-confidence
  doc/constitution.md
Owners: @NixOS/steering

Replace "position" with "seat" in two places
  doc/constitution.md
Owners: @NixOS/steering

Document initial elections in general
  doc/constitution.md
Owners: @NixOS/steering

Level- not edge- trigger for special special elections
  doc/constitution.md
Owners: @NixOS/steering
